<header class="container mx-auto flex items-center justify-between bg-green-300 p-3">
    <h1 class="text-2xl font-semibold">DripShop</h1>
    <ul class="flex gap-x-5">
        <li>All</li>
        <li>All</li>
        <li>All</li>
        <li>All</li>
        <li>All</li>
    </ul>
    <p>🛒 Cart</p>
</header>